body{
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progbar-wrapper{
    background-color: rgb(255, 255, 255);
    width: calc(100vw/1.5);
    height: 300px;
    border-radius: 10px;
    border: 2px solid rgb(114, 113, 113);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.input-container{
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
}

.input-container p{
    font-weight: 700;
    font-size: 25px;
    position: relative;
    margin-bottom: 5px;
}

#input{
    width: calc(100% - 10px);
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(114, 113, 113);
    height: 40px;
    padding: 2px;
    font-size: 25px;
}

#input:focus{
    outline-style: none;
}

.error {
    box-shadow: 0 0 5px 1px red;
    border: 3px solid red;
}
.wrong-value {
    visibility: hidden;
    color: red;
    margin-top: 5px;
    margin-left: 3px;
    font-size: 15px !important;
    text-decoration: none !important;
    font-weight: normal !important;
}

.progress{
    cursor: pointer;
    width: 90%;
    height: 40px;
    border: 2px solid rgb(114, 113, 113);
    border-radius: 5px;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.progress:nth-child(2) .fill{
    background-color: #5365ff;
}

.border{
    width: calc(100% - 4px);
    height: 36px;
    border: 2px solid white;
    background-color: rgb(218, 216, 216);
    border-radius: 5px;
}

.fill{
    width: 35%;
    background-size: 36px;
    border-radius: 5px;
    height: calc(100% - 1px);
    margin-top: 1px;
    transition: width 0.3s;
    animation: move 0.5s linear infinite paused;
}

.number{ 
    position: absolute;
    right: 45%;
    top: 3px;
    color: black;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .3s ease;
    visibility: visible;
    opacity: 1;
}

.link{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: -70px;
    right: -15px;
    font-size: 30px;
    color: black;
}
.link a{
    text-decoration: none;
    color: black;
}
.link a:hover{
    text-decoration: none;
    color: rgb(151, 151, 151);
}
